{% extends 'base.html' %}


{% block body %}
    
 <div class="container mt-5">
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group row">
            <label for="id_{{ field.name }}" class="col-2 col-form-label">{{ field.label }}</label>
            <div class="col-10">
                {{ field }}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary" name="button">Add Device</button>
    </form>

 </div>

{% endblock %}
    